CANVAS_TOKEN=

CANVAS_URL=https://haskoliislands.instructure.com

PORT=3000

#https://haskoliislands.instructure.com/profile/settings
#hægt er að búa til API lykil hér. það er takki sem heitir "Nýtt aðgangstákn"
